* {
  border-sizing: border-box;
}
:root {
  font-family: "Lucida Console", monospace;
  font-size: 20px;
  background: #333;
  color: #333;
}
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
#app {
  width: 100%;
  height: 100%;
}
#app #console {
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0.5;
  background: #fff;
  padding: 0.5em;
}
