* {
  border-sizing: border-box;
}
:root {
  font-family: "Lucida Console", monospace;
  font-size: 20px;
  background: #333;
  color: #333;
}
html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
#app {
  width: 100%;
  height: 100%;
}
#app #console {
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0.5;
  background: #fff;
  padding: 0.5em;
}
#app table.puzzle {
  border-collapse: collapse;
  border-spacing: 0;
}
#app table.puzzle .non-header,
#app table.puzzle .row-header,
#app table.puzzle .col-header {
  background: #ccc;
}
#app table.puzzle .col-header {
  vertical-align: bottom;
}
#app table.puzzle .col-header span {
  display: block;
  margin-top: 0.5em;
}
#app table.puzzle .row-header {
  text-align: right;
}
#app table.puzzle .row-header span {
  margin-left: 0.5em;
}
#app table.puzzle td {
  width: 1em;
  height: 1em;
  text-align: center;
  overflow: hidden;
  border: 1px solid #fff;
  padding: 10px;
  background: #fff;
  cursor: pointer;
}
#app table.puzzle td.white {
  background: #fff;
}
#app table.puzzle td.grey {
  background: #666;
}
#app table.puzzle td.pink {
  background: #f99;
}
#app table.puzzle td.green {
  background: #6c9;
}
#app table.puzzle td.blue {
  background: #6cf;
}
#app table.puzzle td.orange {
  background: #fc3;
}
#app table.puzzle td.empty {
  background: #ccc;
}
#app table.puzzle td.filled {
  background: #000;
}
#app table.puzzle td.crossed {
  background: #c33;
}
