*
  border-sizing: border-box

:root
  font-family: "Lucida Console", monospace
  font-size: 20px
  background: #333
  color: #333

html
body
  padding: 0
  margin: 0
  width: 100%
  height: 100%

#app
  width: 100%
  height: 100%
  
  #console
    display: block
    position: fixed
    left: 0
    bottom: 0
    width: 100%
    opacity: 0.5
    background: #fff
    padding: 0.5em
  
  table.puzzle
    border-collapse: collapse
    border-spacing: 0
    
    .non-header
    .row-header
    .col-header
      background: #ccc
    
    .col-header
      vertical-align: bottom
      
      span
        display: block
        margin-top: 0.5em
    
    .row-header
      text-align: right
      
      span
        margin-left: 0.5em
    
    td
      width: 1em
      height: 1em
      text-align: center
      overflow: hidden
      border: 1px solid #fff
      padding: 10px
      background: #fff
      cursor: pointer
      
      &.white
        background: #ffffff
      
      &.grey
        background: #666666
      
      &.pink
        background: #ff9999
      
      &.green
        background: #66cc99
      
      &.blue
        background: #66ccff
      
      &.orange
        background: #ffcc33
      
      &.empty
        background: #cccccc
      
      &.filled
        background: #000000
      
      &.crossed
        background: #cc3333
        
        